/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/12/2020, 15:47:15
    Author     : Sara
*/

footer {
    position: absolute; 
    right: 430px;
}

body {
    background: url(../imagens/chutando-a-bola.jpg) no-repeat bottom center scroll;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
    color: white;
    font-family: Courier New, monospace;
    font-size:53px;
   
}

#name{
  position: absolute; 
  width:350px;
  top: 180px;
  border-color: green;
  opacity: 0.6;
}

#sex{
    position: absolute; 
    top: 180px;
    right: 520px;
    height: 37px;
    border-color: green;
    opacity: 0.6;
}

#cpf {
    position: absolute; 
    width:150px;
    top: 180px;
    right: 670px;
    border-color: green;
    opacity: 0.6;
}

#data {
    position: absolute;
    width:130px;
    top: 180px;
    right: 340px;
    border-color: green;
    opacity: 0.6;
}

#estado_ci {
    position: absolute;
    height: 37px;
    top: 180px;
    right: 175px;
    border-color: green;
    opacity: 0.6;
}

#cargos {
    position: absolute;
    height: 37px;
    top: 288px;
    border-color: green;
    opacity: 0.6;
}

#salario {
    position: absolute;
    width:130px;
    top: 288px;
    right: 935px;
    border-color: green;
    opacity: 0.6;
}

#email {
    position: absolute;
    width:280px;
    top: 288px;
    right: 593px;
    border-color: green;
    opacity: 0.6;
}

#telefone {
    position: absolute;
    width:150px;
    top: 288px;
    right: 385px;
    border-color: green;
    opacity: 0.6;
}

#rua {
    position: absolute;
    width:300px;
    top: 288px;
    right: 31px;
    border-color: green;
    opacity: 0.6;
}

#bairro {
    position: absolute;
    width:200px;
    top: 405px;
    border-color: green;
    opacity: 0.6;
}

#cep {
    position: absolute;
    width:150px;
    top: 405px;
    right: 820px;
    border-color: green;
    opacity: 0.6;
}

#cidade {
    position: absolute;
    width:200px;
    top: 405px;
    right: 565px;
    border-color: green;
    opacity: 0.6;
}

#login {
    position: absolute;
    width:200px;
    top: 540px;
    border-color: green;
    opacity: 0.6;
}

#senha {
    position: absolute;
    width:200px;
    top: 540px;
    right: 770px;
    border-color: green;
    opacity: 0.6;
}









#titulo-nome{
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
    
}

#titulo-cpf {
    position: absolute; 
    top: 145px;
    right: 785px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-sexo {
    position: absolute; 
    top: 145px;
    right: 575px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-data {
    position: absolute; 
    top: 145px;
    right: 360px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-civil {
     position: absolute; 
     top: 145px;
     right: 165px;
     color: white;
     font-family: Courier New, monospace;
     font-weight: lighter;
    font-size:18px;
}

#titulo-cargo {
    position: absolute; 
    top: 250px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-salario {
    position: absolute; 
    top: 250px;
    right: 990px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-email {
    position: absolute; 
    top: 250px;
    right: 808px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-telefone {
    position: absolute; 
    top: 250px;
    right: 460px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-rua {
    position: absolute; 
    top: 250px;
    right: 300px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-bairro {
    position: absolute; 
    top: 363px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-cep {
    position: absolute;
    top: 363px;
    right: 938px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-cidade {
    position: absolute;
    top: 363px;
    right: 703px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-login {
    position: absolute;
    top: 495px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

#titulo-senha {
    position: absolute;
    top: 495px;
    right: 918px;
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    font-size:18px;
}

.btn-primary {
    position: absolute;
    top: 495px;
    right: 350px;
    width:130px;
    height: 60px;
    background-color: green;
    border-color: white;
}

.btn-secondary {
    position: absolute;
    top: 495px;
    right: 200px;
    width:130px;
    height: 60px;
    border-color: white;
}

footer {
    color: white;
    font-family: Courier New, monospace;
    font-weight: lighter;
    
  
}

.btn-primary:hover {
	background-color: darkgreen;
        border-color: gray;
	}